*.h.gch
*.ppm
3
Photorealism-Book/
Pi.cpp
a.out
aggregate_test.cpp
draw_shadow.cpp
draw_shadow2.cpp
hoge.cpp
image_test.cpp
importance.cpp
integ.cpp
montecarlo.cpp
path_tracing2.cpp
path_tracing3.cpp
pinhole_test.cpp
ray_test.cpp
rt.cpp
single_sphere_tracing.cpp
sphere.log
sphere_test.cpp
super_sampling.cpp
super_sampling_parallel.cpp
test.cpp
vec3_test.cpp
error.txt
ppm_test.cpp
PaperMill_Ruins_E.zip
PaperMill_Ruins_E/
stb/
