*.h.gch
3
Photorealism-Book/
Pi.cpp
a.out
aggregate_test.cpp
aggregate_test.ppm
cornell_box.ppm
cornell_box_test.ppm
draw_shadow.cpp
draw_shadow.ppm
draw_shadow2.cpp
hoge.cpp
image.ppm
image_test.cpp
image_test.ppm
importance.cpp
integ.cpp
montecarlo.cpp
path_tracing.ppm
path_tracing2.cpp
path_tracing2.ppm
path_tracing3.cpp
path_tracing3.ppm
pinhole_test.cpp
pinhole_test.ppm
ppm_test.cpp
ppm_test.ppm
ray_test.cpp
result.ppm
rt.cpp
single_sphere_tracing.cpp
single_sphere_tracing.ppm
sphere.log
sphere_test.cpp
super_sampling.cpp
super_sampling.ppm
super_sampling_parallel.cpp
super_sampling_parallel.ppm
test.cpp
vec3_test.cpp
"\350\252\244\346\244\215.txt"
